*{
  font-family: "Courier";
  border-radius: 10px;
}
.hcolor{
  color:lightblue;
}
.headlinks{
  margin-left: 30px;
}
#wrapper{
  width:970px;
  height:870px;
  padding:20px;
  background: darkgreen;

}
#head{
  width:905px;
  height:100px;
  background: #008080;
  color:black;
  padding:0px 20px 0px 20px;

}
.subhead{
  position: relative;
  display: inline-block;
  width: auto;
  height:100px;
  top:20px;
  left:20px;
}

.headicon{
  width:50px;
  height:auto;
}
.sidebar{
  vertical-align: top;
  display: inline-block;
  width:220px;
  height:630px;
  padding:0px 20px 20px 20px;
  color:white;
  background:black;
}
.main{
  display:inline-block;
  width:1000px;
  height:800px;
  color:white;
  padding-top:10px;

}
.content{
  width:730px;
  height:600px;
  display: inline-block;
}
.gitbasic1{
  vertical-align: top;
  display: inline-block;
  width:176px;
  height:200px;
  padding:0px 23px 20px 20px;
  background:black;
  margin-bottom: 10px;
}
.gitbasic2{
  display: inline-block;
  width: 293px;
  height:200px;
  padding:0px 20px 0px 20px;
  background:black;
  margin-bottom: 10px;
}
.gitbasic3{
  width:636px;
  height:210px;
  display: inline-block;
  padding:0px 20px 0px 20px;
  background:black;
}
#footer{
  display:inline-block;
  position: relative;
  width:945px;
  height:80px;
  background:black;
  color:white;
  text-align:center;
  margin-top: 10px;
}
.subfoot{
  position: relative;
  top:30px;
}
a:link,a:visited {
  color:white;
}
