
#wrapper{
  width:1150px;
  height:800px;
}
.numbers{
  vertical-align: top;
  text-align: center;
  display:inline-block;
  width:50px;
  height:50px;
}
.element{
  display: inline-block;
  vertical-align:top;
  width:50px;
  height:50px;
  text-align: center;
  background:cornflowerblue;
  border: solid thin darkblue;
  font-size: small;
  margin-bottom: 5px;
}
#block1{
  display:inline-block;
  width:200px;
  height:400px;

}
#block2{
  display: inline-block;
  width:560px;
  height:200px;

}
#block3{
  display: inline-block;
  width:360px;
  height:400px;

}
#block4{
  display:inline-block;
  width:900px;
  height:120px;

}
.numbers2{
  display: inline-block;
  vertical-align: top;
  width:50px;
  height:50px;

}
.elementName{
  font-weight: bold;
}
.firstEMpush{
  margin-right:50px;
}
.firstEMpush3{
  margin-left: 280px;
}
.ecolor{
  background-color: pink;
}
.ecolor2{
  background-color:yellow;
}
.ecolor3{
  background-color:green;
}
