*{
  margin:0px;
  padding:0px;
}
#wrapper{
  width:1150px;
  height:800px;
}
.numbers{
  vertical-align: top;
  text-align: center;
  display:inline-block;
  width:50px;
  height:50px;
}
.element{
  display: inline-block;
  vertical-align:top;
  width:50px;
  height:50px;
  text-align: center;
  background:cornflowerblue;
  border: solid thin darkblue;
  font-size: small;
  margin-bottom: 5px;
}
#block1{
  display:inline-block;
  width:200px;
  height:440px;

}
#block2{
  position: relative;
  right:25px;
  display: inline-block;
  width:560px;
  height:340px;
}
#block3{
  position: relative;
  left:5px;
  display: inline-block;
  width:360px;
  height:400px;

}
#block4{
  margin-top: 20px;
  margin-left: 60px;
  display:inline-block;
  width:900px;
  height:120px;

}
.numbers2{
  display: inline-block;
  vertical-align: top;
  width:50px;
  height:50px;
  text-align: left;

}
.elementName{
  font-weight: bold;
}
.firstEMpush{
  margin-right:55px;
}
.firstEMpush3{
  margin-left: 300px;
}
.ecolor{
  background-color: pink;
}
.ecolor2{
  background-color:yellow;
}
.ecolor3{
  background-color:green;
}
.b4names{
  vertical-align: top;
  text-align: right;
  border: solid hotpink;
}
.numbers3{
  vertical-align: top;
  text-align: center;
  display:inline-block;
  width:50px;
  height:50px;
  border: solid hotpink;
}
