<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div id="header">
        <h1>Header</h1>
        <h2>Subtitle</h1>
    </div>
    <div id="nav" class="navchange">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About Us</a></li>
            <li><a href="">Contact Us</a></li>
            <li><a href="">Videos</a></li>
            <li><a href="">Pricing</a></li>
            <li><a href="">Something</a></li>
            <li><a href="">Something More...</a></li>
            <li><a href="">Something Even More...</a></li>
        </ul>
    </div>
    <div id="content">
        <div class="contentblock columnchange">
            <h2>Column 1</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut mauris at nulla sollicitudin vestibulum sit amet id velit. Donec semper dui sit amet tempus vestibulum. Nullam ac auctor nunc. Aliquam fermentum at ipsum vitae scelerisque. Aenean dolor ipsum, maximus id pharetra eleifend, cursus a augue. Aliquam vestibulum ligula sed vehicula ultrices. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed at sem vitae nisl consectetur fermentum in vel erat. Nunc quis pulvinar mauris. Aenean ac nibh in enim semper varius. Suspendisse potenti. Cras condimentum quam risus, viverra viverra nisi facilisis in.</p>
        </div>
        <div class="contentblock columnchange">
                <h2>Column 1</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut mauris at nulla sollicitudin vestibulum sit amet id velit. Donec semper dui sit amet tempus vestibulum. Nullam ac auctor nunc. Aliquam fermentum at ipsum vitae scelerisque. Aenean dolor ipsum, maximus id pharetra eleifend, cursus a augue. Aliquam vestibulum ligula sed vehicula ultrices. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed at sem vitae nisl consectetur fermentum in vel erat. Nunc quis pulvinar mauris. Aenean ac nibh in enim semper varius. Suspendisse potenti. Cras condimentum quam risus, viverra viverra nisi facilisis in.</p>
        </div>
        <div class="contentblock columnchange">
                <h2>Column 1</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut mauris at nulla sollicitudin vestibulum sit amet id velit. Donec semper dui sit amet tempus vestibulum. Nullam ac auctor nunc. Aliquam fermentum at ipsum vitae scelerisque. Aenean dolor ipsum, maximus id pharetra eleifend, cursus a augue. Aliquam vestibulum ligula sed vehicula ultrices. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed at sem vitae nisl consectetur fermentum in vel erat. Nunc quis pulvinar mauris. Aenean ac nibh in enim semper varius. Suspendisse potenti. Cras condimentum quam risus, viverra viverra nisi facilisis in.</p>
        </div>
        <div class="contentblock lastcolumn">
                <h2>Column 1</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut mauris at nulla sollicitudin vestibulum sit amet id velit. Donec semper dui sit amet tempus vestibulum. Nullam ac auctor nunc. Aliquam fermentum at ipsum vitae scelerisque. Aenean dolor ipsum, maximus id pharetra eleifend, cursus a augue. Aliquam vestibulum ligula sed vehicula ultrices. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed at sem vitae nisl consectetur fermentum in vel erat. Nunc quis pulvinar mauris. Aenean ac nibh in enim semper varius. Suspendisse potenti. Cras condimentum quam risus, viverra viverra nisi facilisis in.</p>
        </div>
        
    </div>

    
</body>
</html>